<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Details</title>
    <th:block th:replace="/backstage/common_recources::common_css"></th:block>
    <th:block th:replace="/backstage/common_recources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">


    <div class="wrapper">
        <header th:replace="~{/backstage/common_header::header}"></header>
        <header th:replace="~{/backstage/common_sidebar::sidebar}"></header>

        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    Admin
                    <small>Admin Details</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/backstage/index"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a href="/backstage/admin/all">Admin</a></li>
                    <li><a href="/backstage/admin/all">Admin List</a></li>
                    <li class="active">Admin Details</li>
                </ol>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <div class="tab-pane" id="tab-treetable">
                    <table id="collapse-table" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>

                        <tr>
                            <td th:text="${admin.username}"></td>
                        </tr>

                        <tbody th:each="role,status:${admin.roles}">
                            <tr th:attr="data-tt-id=${status.index}">
                                <td th:text="${role.roleName}"></td>
                                <td th:text="${role.roleDesc}"></td>
                            </tr>
                            <tr th:each="permission:${role.permissions}" th:attr="data-tt-parent-id=${status.index}" data-tt-id="1-1">
                                <td th:text="${permission.permissionName}"></td>
                                <td th:text="${permission.permissionDesc}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>
            <!-- 正文区域 /-->
        </div>

        <header th:replace="/backstage/common_footer::footer"></header>
    </div>

    <script>
        $(document).ready(function() {
            /*table tree*/
            $("#collapse-table").treetable({
                expandable: true
            });
        });
    </script>

</body>
</html>