<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- page header -->
<header class="main-header" th:fragment="header" >

    <!-- Logo -->
    <a href="/backstage/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>DATA</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>DATA</b>BackStage</span>
    </a>


    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/backstage/img/TTT.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs" th:text="${#authentication.name}"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/backstage/img/TTT.jpg" class="img-circle" alt="User Image">
                            <p>
                                <span th:text="${#authentication.name}"></span><br><span th:align="middle">ADMIN</span>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/backstage/admin/logout" class="btn btn-default btn-flat">Log out</a>
                            </div>
                        </li>

                    </ul>

                </li>

            </ul>
        </div>

    </nav>
</header>
<!-- page header /-->