<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Index</title>
        <th:block th:replace="/backstage/common_recources::common_css"></th:block>
        <th:block th:replace="/backstage/common_recources::common_js"></th:block>
    </head>

    <body class="hold-transition skin-purple sidebar-mini">


        <div class="wrapper">
            <header th:replace="~{/backstage/common_header::header}"></header>
            <header th:replace="~{/backstage/common_sidebar::sidebar}"></header>

            <div class="content-wrapper">

            </div>

            <header th:replace="/backstage/common_footer::footer"></header>
        </div>
    </body>
</html>