<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/x-icon" href="/icon.ico" />
    <title>Post Index</title>
    <th:block th:replace="/backstage/common_recources::common_css"></th:block>
    <th:block th:replace="/backstage/common_recources::common_js"></th:block>
    <script src="/backstage/js/bootstrap-paginator.js"></script>
</head>

<body class="hold-transition skin-purple sidebar-mini">


<div class="wrapper">
    <header th:replace="~{/backstage/common_header::header}"></header>
    <header th:replace="~{/backstage/common_sidebar::sidebar}"></header>

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                Post
                <small>Post List</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/backstage/index"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="/backstage/product/all">Post</a></li>
                <li class="active">Post List</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List</h3>
                </div>

                <div class="box-body">

                    <div class="table-box">



                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="" style="padding-right:0px;">
                                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                </th>


                                <th class="text-center" style="width: 200px">Post Image</th>
                                <th class="text-center" width="20%">Post Name</th>
                                <th class="text-center">Posted User</th>
                                <th class="text-center">Public</th>
                                <th class="text-center">Post Category</th>
                                <th class="text-center">Operation</th>


                            </tr>
                            </thead>


                            <tbody>
                            <tr th:each="product : ${productPage.records}" >
                                <td><input name="ids" type="checkbox"></td>
                                <td><img th:src="${product.pImage}" style="height: 180px;width: 300px;border-radius: 14px"></td>
                                <td class="text-center" th:text="${product.productName}"></td>
                                <td class="text-center" th:text="${product.username}"></td>
                                <td class="text-center" th:text="${product.status}"></td>
                                <td class="text-center" th:text="${product.category.cname}"></td>

                                <td class="text-center">
                                    <a th:href="@{/backstage/product/edit(pid=${product.pid})}" class="btn bg-olive btn-xs">Edit</a>
                                    <a th:href="@{/backstage/product/updateStatus(pid=${product.pid})}" class="btn bg-gray btn-xs">Turn on/Turn off</a>
                                    <a th:onclick="|javascript:del(${product.pid})|" class="btn bg-olive btn-xs">Delete</a>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                        <!--数据列表/-->
                    </div>
                    <!-- 数据表格 /-->
                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <div class="box-footer">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            Pages:<span th:text="${productPage.pages}"></span>
                            Result:<span th:text="${productPage.total}"></span>
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination"></ul>
                    </div>
                </div>
                <!-- /.box-footer-->

        </section>
        <!-- 正文区域 /-->
    </div>

    <header th:replace="/backstage/common_footer::footer"></header>
</div>

<script th:inline="javascript">

    function del(pid) {
        if (confirm("Confirm your option")){
            location.href="/backstage/product/delete?pid="+pid
        }
    }

    var currentPage = [[${productPage.current}]];
    var pages = [[${productPage.pages}]];

    $(".pagination").bootstrapPaginator({
        bootstrapMajorVersion: 3,
        currentPage: currentPage,
        totalPages: pages,
        numberOfPages: 5,
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "First";
                case "prev":
                    return "Prev";
                case "next":
                    return "Next";
                case "last":
                    return "Last";
                case "page":
                    return page;
            }
        },
        onPageClicked: function (event, originalEvent, type, page) {
            location.href =  "/backstage/product/all?page=" + page;
        }
    })
</script>

</body>
</html>