<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/x-icon" href="/icon.ico" />

    <meta charset="UTF-8">
    <title>ERROR</title>

    <style>
        *{
            font-family: "Microsoft YaHei", tahoma, "Hiragino Sans GB", "\\5b8b体", 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        .error{
            font-size: 30px;
            position: relative;
            top: 190px;
            left: 70px;
        }
    </style>
</head>
<body>
    <a class="link" href="/frontdesk/index.html"><span class="glyphicon glyphicon-home"></span>Home</a>

    <div class="error" >
        <b><h1 >Your rank is not height enough.</h1></b>
        <h3>Daily post limit is reached</h3>

    </div>
</body>
</html>