<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>

    <style>
        .error{
            font-size: 30px;
            position: relative;
            top: 190px;
            left: 70px;
        }
        .code{
            font-size: 20px;
            position: relative;
            font-family: "Microsoft YaHei";
            top: 5px;
            left: 10px;
        }
    </style>
</head>
<body>
    <div class="error" >
        <b><h1  style="font-family: 'Microsoft YaHei'">Oops, something went wrong</h1></b>
        <h4 class="code">Code:500</h4>
    </div>
</body>
</html>