<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tripadvisor.mapper.CommentsMapper">

    <resultMap id="commentResultMap" type="com.example.tripadvisor.pojo.Comments">
        <id property="cid" column="cid" />
        <result property="pid" column="pid" />
        <result property="username" column="username" />
        <result property="commentText" column="commentText" />
        <result property="createdAt" column="createdAt" />
        <result property="remoteAddr" column="remoteAddr" />
    </resultMap>

    <select id="findByPid" resultType="com.example.tripadvisor.pojo.Comments" resultMap="commentResultMap">
        SELECT c.*, m.avatar, m.username
        FROM comments c
        INNER JOIN member m ON c.mid = m.mid
        WHERE c.pid = #{pid}
        ORDER BY c.createdAt DESC
    </select>



</mapper>
